---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Resume', href: 'https://docs.google.com/document/d/e/2PACX-1vThL-zoPXRH8ThXmrgoFB5YUSQMZ5ZPflJaAJptftM2YIFcxl1pVJRFN55j6-etmQ/pub', icon: 'tabler:download' }}
    callToAction2={{ text: 'LinkedIn', href: 'https://www.linkedin.com/in/deysagnik/' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="subtitleintro">
        <span class="font-semibold uppercase">I'm a...</span>
    </Fragment>
    <Fragment slot="title">
      Product
    </Fragment>
    <Fragment slot="titlemini">
      Designer
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-semibold">To design solutions that not only look good, but also make business sense.</span>
    </Fragment>
  </Hero>


<!-- Content Widget **************** -->

  <Content
    highlight="About Me"
    title="And what do I do ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/sagnik.jpg'),
      alt: 'sagnik dey product designer',
    }}
  >
    <Fragment slot="content">
      I believe in solving design problems through Lean UX methodology, focusing on the user's needs and experiences. I do this by gathering data and insights from user research and interviews, to uncover user problems and use cases. I then create user flows, wireframes, and prototypes that define the structure and functionality of the product, which I test with users.
        I also focus on creating a design system and a consistent visual language to reduce friction and improve the user experience. I collaborate closely with developers and product managers to ensure that designs are feasible and practical, and I love simplifying design by creating design systems.
        Overall, I strive to create products that are easy, efficient, and enjoyable for users to interact with, and meet their needs.
    </Fragment>
  </Content>

  

  <!-- HighlightedPosts Widget ******* -->
<LatestPosts
    title="Some of my projects"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  
</Layout>
