---
import Grid from '~/components/blog/Grid.astro';

import { getBlogPermalink } from '~/utils/permalinks';
import { findLatestPosts } from '~/utils/blog';

export interface Props {
  title?: string;
  allPostsText?: string;
  allPostsLink?: string | URL;
  information?: string;
  postIds: string[];
}

const {
  title = await Astro.slots.render('title'),
  allPostsText = 'View all posts',
  allPostsLink = getBlogPermalink(),
  information = await Astro.slots.render('information'),
  count = 6,
} = Astro.props;

const posts = await findLatestPosts({ count });
---

<section id="portfolio" class="px-4 py-16 mx-auto max-w-7xl lg:py-20">
  
    <div class="max-w-xl sm:mx-auto lg:max-w-2xl text-center">
      {
        title && (
          <h2
            class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
            set:html={title}
          />
        )
      }
      {
        allPostsText && allPostsLink && (
          <a
            class="text-muted dark:text-slate-400 hover:text-primary transition ease-in duration-200 block mb-6 lg:mb-6"
            href={allPostsLink}
          >
            {allPostsText} »
          </a>
        )
      }
    </div>

    
  

  <Grid posts={posts} />
</section>